$mainFont: Arial, sans-serif;
$fontSize: 16px;

$blue: #2F78B9;
$lightBlue: #129FEA; 
$grey: #c1c1c1;
$lightGrey: #ddd;
$navLinkColor: black;
$navLinkColorHover: $lightBlue;
$navLinkColorSelected: $lightBlue;

$tableActionLink: $blue;
$tableActionLinkHover: $lightBlue;
$tableCellBorderTopColor: $lightGrey;

$inputFocusColor: $lightBlue;

$btnBgHoverColor: $lightBlue;
$btnBorderHoverColor: $lightBlue;
