@import '../scss/variables.scss';

.nav {
  display: flex;
}

.navLink {
  text-decoration: none;
  color: $navLinkColor;
  padding: 20px 20px 20px 0px;

  font-family: $mainFont;
  font-weight: 600;

  &:hover {
    color: $navLinkColorHover;
  }
}

.navLinkSelected {
  color: $navLinkColorSelected;
}