@import '../scss/variables.scss';

.form {
  max-width: 400px;
}

.button, .input, .label {
  font-family: $mainFont;
  font-size: $fontSize;
}

.input {
  width: 100%;
  height: 31px;
  box-sizing: border-box;

  padding: 0px 15px;
  margin-top: 5px;
  margin-bottom: 20px;

	border: 1px solid $grey;
	box-shadow: inset 0 1px 3px $lightGrey;
  border-radius: 4px;

  font-family: $mainFont;
  font-size: $fontSize;
  
  &:focus {
    outline: none;
    border-color: $inputFocusColor;
  }
}

.button {
  border: 1px solid $grey;
  padding: 10px 20px;
  border-radius: 4px;

  &:hover {
    color: white;
    background-color: $btnBgHoverColor;
    border-color: $btnBorderHoverColor;
    cursor: pointer;
  }
}

.label {
  font-weight: 600;
}