.table {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  font-family: Arial, sans-serif;
}