@import '../scss/variables.scss';

.cell {
  height: 38px;
  padding-left: 20px;
  border-top: 1px solid $tableCellBorderTopColor;
  
  a {
    color: $tableActionLink;
    text-decoration: none;
    
    &:hover {
      color: $tableActionLinkHover;
    }
  }
}
